<!-- Filename: index.html - Directory: my_flask_app/templates -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploads</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://js.stripe.com/v3/"></script>

</head>

<body>
    <div class="container">
        <!-- {% if current_user.is_authenticated %}
        <div class="user-profile">
            <img src="{{ current_user.picture }}" alt="Profile Picture" class="profile-picture">
            <p>Welcome, {{ current_user.given_name }}!</p>
            <p>{{ current_user.email }}</p>
            <p>Language: {{ current_user.locale }}</p>
            <p>Account type: <span class="account-type" data-type="{{ current_user.account_type }}">{{ current_user.account_type }}</span></p>
            <a href="{{ url_for('logout') }}" class="button logout">Sign out</a>
        </div>
        {% else %}
            <a href="{{ url_for('login') }}">Sign in with Google</a>
        {% endif %} -->

        <!--THE SIDEBAR-->
        <div class="column1">
            {% if current_user.is_authenticated %}
            <div class="user-profile">
                <img src="{{ current_user.picture }}" alt="Profile Picture" class="profile-picture">
                <h3>{{ current_user.given_name }}</h3>
                <p>{{ current_user.email }}</p>
                <p>Account type: <span class="account-type" data-type="{{ current_user.account_type }}">{{ current_user.account_type }}</span></p>
                <p>Expired Date:</p>
                <p>Jan. 10, 2024</p>
                <!-- <a href="{{ url_for('logout') }}" class="button logout">Sign out</a> -->
                

            </div>

            <hr class="solid">
            
            <!-- <div class="edit-profile">
                <button class="profileBtn" type="button"><h4>User Profile</h4></button>
            </div>
        
            <hr class="solid"> -->

            <div class="functions">


                {% if current_user.subscription_purchased %}
                <form method="POST" action="/create-customer-portal-session">
                    <button type="submit"><h4>Manage billing</h4></button>
                </form>
                {% endif %}



                {% if not current_user.subscription_purchased %}
                <button class="billingBtn" type="button"><h4>Billing Plans</h4></button>
                {% endif %}
                <!-- <button class="logoutBtn" type="button"><h4>Logout</h4></button> -->
                <button class="logoutBtn" type="button" onclick="location.href='{{ url_for('logout') }}'"><h4>Logout</h4></button>
            </div>
            {% else %}
                <a href="{{ url_for('login') }}">Sign in with Google</a>
            {% endif %}
        </div>
        <!-- <button id="subscribe-button">Subscribe to Pro Package</button> -->
        
        <!-- {% if current_user.subscription_purchased %}
        <form method="POST" action="/create-customer-portal-session">
            <button type="submit">Manage billing</button>
        </form>
        {% endif %}



        {% if not current_user.subscription_purchased %}
        <form method="POST" action="/subscribe">
            <input type="hidden" name="subscription_type" value="pro">
            <button type="submit">Subscribe for Pro Account</button>
        </form>

        <form method="POST" action="/subscribe">
            <input type="hidden" name="subscription_type" value="basic">
            <button type="submit">Subscribe for Basic Account</button>
        </form>
        {% endif %} -->





        <!-- {% if current_user.is_authenticated and current_user.account_type not in ['Premium', 'Basic'] %}
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        <stripe-pricing-table pricing-table-id="prctbl_1OVuduDAl3fqs0z5eLc2fvMN"
            publishable-key="pk_test_51OVEkqDAl3fqs0z5WYJHtSc1Jn2WZD4w7vV7rVOULeHvdgYSoXxa415eCxTnYBZ0xTXCqDBdW5xla4hw1xyjumQQ00T45kDMNP">
        </stripe-pricing-table>
        {% endif %} 
        -->

        <!--THE CHATBOT-->
        <div class="column2">
            <h2>Docx-Perfector</h2>


            <div class="bot">
                <div class="bot-img">
                    <img src="{{ url_for('static', filename='photos/bot-profile.gif') }}" alt="">
                </div>
                <div class="bot-intro">
                    <p>Hi! My name is Docx-Perfector. And I am your assitant today!</p>
                    <p>How can I help you?</p> 
                </div>
            </div>

            <div class="search-bar">
                <form action="{{ url_for('file_blueprint.upload_file') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="inputFile">
                    <button type="submit" class="submitButton">Submit</button>
                </form>
            </div>

            <div class="bot-response" style="display: none;">
                <div class="bot-img">
                    <img src="photos/bot-profile.gif" alt="">
                </div>
                <div class="bot-intro">
                    <p id="processing-text">Processing the file</p>
                </div>
            </div>

            <!-- Display flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h2>Uploaded Files</h2>
            <ul>
                <!-- Loop through files and list them with a download link -->
                {% for file in files %}
                <li>
                    {{ file.file_name }}
                    - <a href="{{ url_for('file_blueprint.download_file', file_id=file.id) }}">Download</a>
                    - <a href="{{ url_for('file_blueprint.delete_file', file_id=file.id) }}" onclick="return confirm('Are you sure you want to delete this file?');">Delete</a>
                    - <a href="{{ url_for('file_blueprint.get_corrections', file_id=file.id) }}">Show Corrections</a>
                </li>
                {% endfor %}
            </ul>

            <h2>Grammar Checking</h2>
            {% if corrections %}
                <div id="corrections">
                    {% for correction in corrections %}
                        <div class="correction-detail">
                            <p><strong>Original Text:</strong> {{ correction.original_sentence }}</p>
                            <p><strong>Corrected Text:</strong> {{ correction.corrected_sentence }}</p>
                            <p><strong>Modified Text:</strong> [{{ correction.modified_tokens|join(', ') }}]</p>
                            <p><strong>Added Text:</strong> [{{ correction.added_tokens|join(', ') }}]</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

        <!-- <h1>Upload a file</h1>
        <form action="{{ url_for('file_blueprint.upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form> -->

        
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>
</html>